{% extends "institute/base.html" %}
{% load static %}
{% block content %}

<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-text">
                    <h2>Match Creation</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-section spad">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h3>Match Creation</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Create Match</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}