{% extends 'staff/base.html' %}
{% load static %}

{% block content %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-text">
                    <h2>Institution List</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Contact Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if institutions %}
                            {% for institution in institutions %}
                            <tr>
                                <td>{{ institution.name }}</td>
                                <td>{{ institution.address }}</td>
                                <td>{{ institution.contact_phone }}</td>
                                <td>
                                    <a href="{% url 'edit_institution' institution.id %}" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="{% url 'delete_institution' institution.id %}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">No institutions found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <a href="{% url 'add_institution' %}" class="btn btn-success">Add New Institution</a>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
